# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextVal
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.metadata/

# OS/System
.DS_Store
Thumbs.db

# Secrets / Local Configs
src/main/resources/application-local.properties
